---
# tasks file for kubeScratch
-
        name: Crear certificado.
        hosts: localhost
        tasks:
                - name: certificados
                  include_tasks: ./cert.yml
                  with_items:
                        - "ca" 
                        - "admin"
                        - "kube-controller-manager"
                        - "kube-proxy"
                        - "kube-scheduler"
                - name: cfg files kube-apiserver
                  template:
                          src: ../templates/openssl.cnf
                          dest: ../files/openssl.cnf
                - name: cfg file etcd
                  template: 
                        src: ../templates/openssl-etcd.cnf
                        dest: ../files/openssl-etcd.cnf
                        #                 - name: certificados
                        #                  include_tasks: ./certWCfg.yml
                        #                  with_items:
                        #                        - "kube-apiserver" 
                        #                        - "etcd-server"
